<!DOCTYPE html>
<html>
<head>
  <title>로그인 확인</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      function checkLoginStatus() {
        $.get("/check_login_status", function(data) {
          if (data.logged_in === true) {
            window.location.replace("/");
          }
        });
      }
      // 5초마다 로그인 상태 확인
      setInterval(checkLoginStatus, 5000);
    });
  </script>
</head>
<body>
  <h3>로그인 확인 중...</h3>
  <footer>
    <a href="https://{{ email_domain }}">이메일로 이동하기</a>
  </footer>
</body>
</html>